#page-study{
    background: var(--color-primary);
    display: flex;
}
#page-study #container {
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-study #container h1{
    position: absolute;
    max-width: 80rem;
    min-width: 10rem;
    margin-top: -45rem;
    color: var(--color-text-in-primary);
}
#page-study #container img {
    min-width: 3rem;
    max-width: 70rem;
    position: absolute;
}
#page-study #container .background-success {
    min-width: 3rem;
    max-width: 90em;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
}

#page-study #container .back-study {
    width: 20%;
    max-width: 20rem;
    min-width: 10rem;
    position: absolute;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-buton-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    margin-top: 45rem;
}

#page-study #container .back-study:hover {
    background: var(--color-secondary-dark);
}